<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" ></meta>
	<meta name="robots" content="none" ></meta>
	<title></title>
	<link rel="icon" href="/media/favicon.ico" type="image/x-icon"></link> 
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon"></link> 
<style type="text/css">
	@import url("/css/site_css.css");
</style>
	</head>
	<body>
		<h1><p class="centered-object">The page you asked for doesn't exist.
		<br/> Please check the address.</p></h1>

<fieldset class="major one-col-buttons" >
<legend class="major">Action</legend>
<table class="action-btn"  width="100%">
  <tbody>
    <tr>
      <td class="buttons" >
      	<a name="return_button"  class="btn green tb" href="index.html">Return to Main Menu</a>
      </td>
    </tr>
  </tbody>
</table>
</fieldset>
	</body>
</html>
