{% extends 'forms_base.html' %}
{% block local_javascript_code %}
{% endblock local_javascript_code %}
{% block extended %}
<table class="fields-enclose"><tr><td>
<fieldset>
<legend>Achievement Test Description</legend>
<table class="unbordered"> 
	<tr>
		<td>{{ form.name.label }}</td><td>{{ form.name }}</td>
	</tr>
	<tr>
		<td>{{ form.date.label }}</td><td>{{ form.date }}</td>
	</tr>
	<tr>
		<td>{{ form.grading_type.label }}</td><td>{{ form.grading_type }}</td>
	</tr>
	<tr>
		<td>{{form.percent_grade.label }}</td><td>{{form.percent_grade }}</td>
	</tr>
</table>	
</fieldset>
<fieldset>
<legend>Class Years Taking Test</legend>
<table class="unbordered"> 
	<tr>
		<td>{{form.first_year.label }}</td><td>{{form.first_year }}</td>
		<td>{{form.second_year.label }}</td><td>{{form.second_year }}</td>
	</tr>
	<tr>
		<td>{{form.third_year.label }}</td><td>{{form.third_year }}</td>
		<td>{{form.fourth_year.label }}</td><td>{{form.fourth_year }}</td>
	</tr>
</table>	
</fieldset>
<fieldset>
<legend>Subjects Tested</legend>
<table class="unbordered"> 
	<tr>
		<td>{{form.Math.label }}</td><td>{{form.Math }}</td>
		<td>{{form.Science.label }}</td><td>{{form.Science }}</td>
	</tr>
	<tr>
		<td>{{form.English.label }}</td><td>{{form.English }}</td>
		<td>{{form.Filipino.label }}</td><td>{{form.Filipino }}</td>
	</tr>
	<tr>
		<td>{{form.MAPEH.label }}</td><td>{{form.MAPEH }}</td>
		<td>{{form.TLE.label }}</td><td>{{form.TLE }}</td>
	</tr>
</table>	
</fieldset>
<fieldset>
<legend>Other Information</legend>
<table class="unbordered"> 
	<tr>
	<td>{{ form.other_information.label }}</td><td>{{ form.other_information }}</td>
	</tr> 
</table>	
</fieldset>
{% endblock extended %}
	
	
	
	
	
	
