{% extends 'base.html' %}
{% block script %}
{{ block.super }}
<script type='text/javascript' src='/js/tables.js'></script>
{% endblock script %}{% block local_javascript_code %}
var classRosterTable = new StandardTable();
classRosterTable.maxHeight = 400;
classRosterTable.initialSortColumn = 0;
classRosterTable.initializeTableParams();

var assigned_students_params = {
	"class":"section",
	"key":localParams.section_key,
	"special_field":"assignment_status",
	"class_session":localParams.class_session_key,
	"function":"create_section_students_table"
};

$(function(){
	//if no class session defined then do nothing at all
	if (localParams.class_session_key.length > 4) {
		classRosterTable.setDom(document.getElementById('class_roster_div'));
		$.loadanim.start({
			message: "Loading Tables"
		});
		requestTable("/ajax/calculated_table", assigned_students_params, classRosterTable);
	}
});

{% endblock local_javascript_code %}
{% block content %}
<form id="form1" action="{{submit_action}}" method="post" >
<p id="form_title" class="form-title print-hidden">
	{{title_prefix}}{{title_bridge}}{{title_suffix}}{{title_details|safe}}</p>    
</div> 
<div>
<fieldset>
<legend>Section {{section}} Students</legend>
<div id="class_roster_div"></div>
</fieldset>
{{ form.section_students }}
{{ form.class_session }}
</div>
<!-- standard form hidden values -->
<div>
{{form.object_instance}}
{{form.state}}
{{form.requested_action}}
{{form.users_section}}
{{form.users_class_session}}
{{form.selection_key}}
</div>
<!-- end standard form hidden values -->
{% include 'finish_button.html' %}
</form>
<div id="help_pagename_div" class="hidden">AssignSectionStudentsPageHelp</div>
{% endblock %}
