<fieldset id="cancel_save_button_fieldset" class="major one-col-buttons same-in-view print-hidden">
<legend>Action</legend>
<table id="bottom-buttons-table" class="action-btn" >
  <tbody>
    <tr >
      <td class="buttons" ><input value="Cancel" id="cancel_button" name="action" title="Click to return back to your last page without saving" class="btn tb action"/></td>
      <td class="buttons" ><input value="{{ value_right_btn|default:'Save'}}" id="{{ id_right_btn|default:"save_button"}}" name="action" title="{{ title_right_btn|default:'Click to save changes and return to upper page'}}" class="btn tb action"/></td>
    </tr>
  </tbody>
</table>
</fieldset>
