{% extends 'forms_base.html' %}
{% block local_javascript_code %}
var subjectYearNames = [];
var subjectSubjectNames = [];
var subjectFormInfo = [];

function subjectBuildSubjectsTable(class_year, type) {
	var subjectName, subjectNameCol;
	var subjectNameCols = [];
	var subjectsTable;
	var subjectTr = [];
	var subjectsRows = '';
	var id, x, y;
	var numColumns = 2;
	var suffixClass = "suffixField-"+ class_year;
	var suffixId = ""
	var numRowsFirst = Math.floor(subjectSubjectNames.length / numColumns)  + 
		(subjectSubjectNames.length % numColumns);
	var numRowsOther = Math.floor(subjectSubjectNames.length / numColumns);
	var index = 0;
	var subjectsTh = '<tr><th class="width75">Name</th><th></th><th class="width120">Class Name Suffix</th> ' +
	'<th class="width75">Name</th><th></th><th style="width=120">Class Name Suffix</th></tr>'; 
	for (x = 0; x <numColumns; x++) {
		var rowCount = (x === 0) ? numRowsFirst : numRowsOther;
		subjectNameCols[x] = subjectSubjectNames.slice(index, index+rowCount);
		index += rowCount;
		}
	for (y=0; y< subjectNameCols[0].length; y++){
		for (x=0; x<numColumns; x++) {
			subjectNameCol=subjectNameCols[x];
			if (y < subjectNameCols[x].length) {
				subjectName=subjectNameCol[y];
				id = class_year + "-" + subjectName;
				suffixId = "subject-suffix-" + id;
				subjectTr[x] = '<td>' + subjectName + '</td>' + 
				'<td><input type="checkbox" class="subject-checkbox active-checkbox" id="subject-checkbox-' + id + '"></td>' +
				'<td><input type="text" class="hidden '+ suffixClass + '" id="'+ suffixId + '"></td>';
			} else {
				subjectTr[x] = "<td></td><td></td><td></td>";
			}
		}
		subjectsRows += '<tr class="subject-row">' + subjectTr[0]+ subjectTr[1] + '</tr>';
	}
	subjectsTable = '<table class="at-subjects thin-border hidden" id="subject-table-' + class_year +'"><tbody>' + subjectsTh + subjectsRows + '</tbody></table>';
	return subjectsTable;	
}

function subjectBuildYearsTable() {
	var yearTr, yearIndex, yearName;
	var defaultSuffixes = ["I", "II", "III", "IV"];
	for (yearIndex = 0; yearIndex < subjectYearNames.length; yearIndex++) {
		yearName = subjectYearNames[yearIndex];
		yearTr = '<tr class="at-year"><td>' + yearName +
		'</td><td><input type="checkbox" class="year-checkbox active-checkbox" id="year-' + yearIndex +
		 '"> </td><td >' +
		subjectBuildSubjectsTable(yearIndex, "classes") + '</td></tr>';
		$(yearTr).appendTo("#years_table");
		$(".suffixField-" + yearIndex).val(defaultSuffixes[yearIndex]);
	}
}	

function subjectGatherFormInfo(){
	//report only those subjects active for the year
	var formInfo = [];
	//var singleSubject = [];
	var yearIndex, subjectIndex;
	var idYearCheckbox, idSubjectCheckbox, idValField;
	var valFieldValue;
	for (yearIndex = 0; yearIndex < subjectYearNames.length; yearIndex++) {
		idYearCheckbox = "#year-" + yearIndex;
		if ($(idYearCheckbox).attr("checked")) {
			for (subjectIndex = 0; subjectIndex < subjectSubjectNames.length; subjectIndex++) {
				idSubjectCheckbox = "#subject-checkbox-" + 
					yearIndex + "-" + subjectSubjectNames[subjectIndex];
				if ($(idSubjectCheckbox).attr("checked")) {
					idValField  = "#subject-suffix-" +
						yearIndex + "-" + subjectSubjectNames[subjectIndex];
					valFieldValue = $(idValField).val();
					var singleSubject = [];
					singleSubject[0] = yearIndex;
					singleSubject[1] = subjectSubjectKeys[subjectIndex];
					singleSubject[2] = valFieldValue;
					formInfo.push(singleSubject);
				}
			}
		}
	}
	$("#id_json_testing_info").val(JSON.stringify(formInfo));
}

function subjectParseFormInfo(){
	subjectYearNames =json_parse(localParams.json_classyear_names);
	subjectSubjectNames = json_parse(localParams.json_subject_names);
	subjectSubjectKeys = json_parse(localParams.json_subject_keys);
}

$(function() {
	subjectParseFormInfo();
	subjectBuildYearsTable();
	$(".active-checkbox").click(function(){
		checkboxHideContents($(this));});
	$("#save_button").click(subjectGatherFormInfo);		
});
{% endblock local_javascript_code %}
{% block extended %}
<fieldset>
<legend>Classes Parameters</legend>
<div id="class_parameters">
<table class="unbordered"> 
	<tr>
		<td><label for="id_start_date" id="id_start_date_label">Start Date</label></td><td>{{ form.start_date }}</td>
	</tr>
	<tr>
		<td><label for="id_end_date" id="id_end_date_label">End Date</label></td><td>{{ form.end_date }}</td>
	</tr>
	<tr>
		<td>
		<label for="id_classes_in_section_classrooms" id="id_classes_in_section_classrooms_label">
			Classes Are In Section Classrooms
		</label></td><td>{{form.classes_in_section_classrooms}}</td></tr>
</table>	
</div>
</fieldset>
<fieldset>
<legend>Class Creation Selections</legend>
<div id="year_and_subjects">
	<table class="unbordered" id="years_table"></table>
</div>
</fieldset>
{% endblock extended %}
	
	
	
	
	
	
