{% extends 'reports_base.html' %}
{% block script %} {{ block.super }}
<script type="text/javascript">

function setParametersForRequest(class_year, section) {
	var param_dict = {
		"class":"school",
		"key":"",
		"function":"create_encoding_check_table"
		};
	return param_dict;
}	

$(function() {
	var reportTable = new StandardTable();
	reportTable.setDom(document.getElementById('report_table'));
	$('#generate_report_button').click(function(){
	$.loadanim.start({
		message: "Creating Encoding Check Report"
	});
	var params = setParametersForRequest();
	var titleString = '<p class="report-title">Encoding Check By Section</p>';
	$('#report_title').html(titleString);
	var date = new Date();
	var headerString = '<p class="report-subtitle">' + date.toDateString() +'</p>'
	$('#report_header').html(headerString);
	requestTable("/ajax/calculated_table", params, reportTable);
	});	
});
</script>
{% endblock script%}
{% block report_top %}
<fieldset class="std-block" id="id_table_fieldset">
	<legend>Setup Report</legend>
	<table id="setup_table" class="centered-object">
	<tr>
		<td>{{form.section_name.label}}</td><td>{{form.section_name}}</td>
		<td>{{form.gender.label}}</td><td>{{form.gender}}</td>
	</tr>
	{{form.section}}
	<tr><td colspan='7'><input type="button" id="generate_report_button" value="Create Report" 
		class="btn inside centered-object"></input></td></tr>
	</table>
</fieldset>
{% endblock report_top%}
