<fieldset class="major single-button print-hidden">
<legend>Action</legend>
<table id="bottom-buttons-table" class="action-btn" >
  <tbody>
    <tr>
      <td class="buttons centered">
      	<!--<input value="Finished" id="finish_button" name="action"  title="Click to return back to your work page." class="btn tb action"/>
    	-->
  		<a  href="{{page_prior_url}}" id="finish_button" name="action" title="Click to return back to your work page." class="btn tb action"/>
		Finished</a>
	</td>
	</tr>
  </tbody>
</table>
</fieldset>
