{% extends 'reports_base.html' %}
{% block script %} {{ block.super }}
<script type="text/javascript">
var sectionField = {"id":"id_section","name":"Section","required":true};
var achievementTestField = {"id":"id_achievement_test","name":"Achievement Test","required":true};
function setParametersForRequest(section, achievementTest) {
	var param_dict = {
		"class":"section",
		"key":section,
		'secondary_class':"achievement_test",
		"secondary_key":achievementTest,
		"function":"create_form14_table"
		};
	return param_dict;
}	

$(function() {
	var reportTable = new StandardTable();
	reportTable.initializeTableParams();
	reportTable.setDom(document.getElementById('report_table'));
	$('#generate_report_button').click(function(){
		if (minimumRequiredFieldsSet([sectionField, achievementTestField],0)) {
			$.loadanim.start({
				message: "Creating Form 14"
			});
			var section = $('#id_section').val();
			var achievementTest = $('#id_achievement_test').val();
			var params = setParametersForRequest(section, achievementTest);
			var titleString = '<p class="report-title">' + $('#id_section_name').val() + '</p>';
			var headerHtml = '<div formal_header class="report-title">' +
				'Republic of the Philippines<br>' +
				'Department Of Education<br>' +
				'{{region}}<br>' +
				'{{division}} Division<br></div>' +
				'<div test_description class="report-subtitle">' +
				'Results of ' + $("#id_achievement_test_name").val() + '<br>' +
				'School Year: {{school_year}}<br>' +
				'{{schoolname}} Section: ' + $('#id_section_name').val() + '</div>';
			$('#report_title').html("");
			$('#report_header').html(headerHtml);
			requestTable("/ajax/calculated_table", params, reportTable);
		}		
	});
	setActiveSectionIfCookieAvailable();
});

</script>
{% endblock script%}
{% block report_top %}
<fieldset class="std-block" id="id_table_fieldset">
	<legend>Setup Report</legend>
	<table id="setup_table" class="centered-object">
	<tr><td>Section</td><td>{{form.section_name}}</td></tr>
	<tr><td>Achievement Test</td><td>{{form.achievement_test_name}}</td></tr>
	<tr><td colspan='2'><input type="button" id="generate_report_button" value="Create Report" 
		class="btn inside centered-object"></input></td></tr>
	</table>
</fieldset>
	{{form.section}}
	{{form.achievement_test}}

{% endblock report_top%}
