{% extends 'base.html' %}
{% block style %}
{{ block.super }}
	@import url("/css/fullcalendar.css");
{% endblock style %}
{% block script %}
{{ block.super }}
	<script type='text/javascript' src='/js/fullcalendar.js'></script>
	<script type='text/javascript' src='/js/gi_calendar.js'></script>
{% endblock script %}
{% block content %}
<div id='calendar'></div>
<form id="form2" action="school_day" method="post" >
<div>
<input type="hidden" name="date" id="id_date"/>
<input type="hidden" name="object_instance" value="NOTSET" id="id_object_instance" /> 
<input type="hidden" name="state" value="Exists" id="id_state"/>
<input type="hidden" name="requested_action" value="Edit" id="id_requested_action"/>
<input type="hidden" name="selection_key" value="" id="id_selection_key"/>
<input type="hidden" name="class_session_key" value="" id="id_class_session_key"/>
</div>
</form>
<div id="create_day_dialog" title="Create New School Day" class="hidden">Do you want to create a new School Day?</div>
<fieldset class="major single-button print-hidden">
<legend>Action</legend>
<table id="bottom-buttons-table" class="action-btn" >
  <tbody>
    <tr>
      <td class="buttons centered">
      	<a  href="/index" id="finish_button" name="action" 
		title='Click to return to the Main Menu.' class="btn tb action">Finished</a>
    </td>
	</tr>
  </tbody>
</table>
</fieldset>
{% endblock content %}
