<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" ></meta>
	<meta name="robots" content="none" ></meta>
	<title>SD Manual</title>
	<link rel="icon" href="/media/favicon.ico" type="image/x-icon"></link> 
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon"></link> 
		<style type="text/css">
			@import url("/css/site_css.css");
			@import url("/css/buttons.css");
			</style>
	</head>
	<body>
		<h1 style="text-align:center">This is where the manual will be sometime soon...</h2>
		<br/>
		<img class="centered" src="../media/imgcons4.gif"></img>
		<input type=button id="close-button" value="Close Window" class="btn green big-centered-button" style="width:250px" onclick="window.close();"></input>
	</body>
</html>
