{% extends 'base.html' %}
{% block script %}
{{ block.super }}
<script type='text/javascript' src='/js/my_work.js'></script>
{% endblock script %}
{% block content %}
<form id="form2" action="/my_work" method="post" >
<p class="form-title centered-object">{{personname}}'s Personal Work Page</p>
<table id="mywork" class="centered-object">
<tbody>
<tr><td>
<fieldset class="major one-col-buttons">
	<legend class="major">My Section</legend>
	<table class="lg-btn" >
		<tbody>
			<tr><td id="id_users_section_name_td" >{{form.users_section_name}}</td></tr>
			<tr>
				<td class="width200"><input type="button" id="attendance_button" 
				class="btn blue tb menu-button" value="Attendance"></input></td>
			</tr>
			<tr>
				<td class="width200" ><input type="button" id="sect_report_button" 
				class="btn blue tb menu-button" value="Reports" ></input></td>
			</tr>
			<tr>
				<td class="width200"><input type="button" id="sect_students_button" 
				class="btn blue tb menu-button" value="Edit Students" ></input></td>
			</tr>
			<tr>
				<td class="width200"><input type="button" id="sect_classes_button" 
				class="btn blue tb menu-button" value="Class Schedule" ></input></td>
			</tr>
			<tr>
				<td class="width200"><input type="button" id="sect_expand_button" 
				class="btn blue tb menu-button" value="Show Other Tasks &#8659;" ></input></td>
			</tr>
			<tr class="hidden" id="section_task1">
				<td class="width200" ><input type="button" id="sect_tests_button" 
				class="btn blue tb menu-button" value="Achievement Tests" ></input></td>
			</tr>
			<tr class="hidden" id="section_task2">
				<td class="width200"><input type="button" id="sect_details_button" 
				class="btn blue tb menu-button" value="View Details" ></input></td>
			</tr>
		</tbody>
	</table>
</fieldset>
</td>
<td id="schoolhome-filler"></td>
<td>
<fieldset class="major one-col-buttons">
	<legend class="major">My Classes</legend>
  	<table class="lg-btn" >
	  <tbody>
		<tr><td id="id_users_class_session_name_td">{{form.users_class_session_name}}</td></tr>
		  <tr>
			  <td class="width200"><input type="button" id="class_grades_button"  
			  class="btn blue tb menu-button" value="Grades" ></input></td>
		  </tr>
		  <tr>
			  <td class="width200" ><input type="button" id="class_reports_button" 
			  class="btn blue tb menu-button not-ready" value="Reports" ></input></td>
		  </tr>
		  <tr>
			  <td class="width200" ><input type="button" id="class_grading_button"  
			  class="btn blue tb menu-button not-ready" value="Gradebook Calendar " 
			  title=></input></td>
		  </tr>
		  <tr>
			  <td class="width200" ><input type="button" id="class_students_button" 
			   class="btn blue tb menu-button" value="View Students" ></input></td>
		  </tr>
		  <tr>
			  <td class="width200" ><input type="button" id="class_expand_button"  
			  class="btn blue tb menu-button" value="Show Other Tasks &#8659;" ></input></td>
		  </tr>
		  <tr class="hidden" id="class_task2">
			  <td class="width200"><input type="button" id="class_details_button"  
			  class="btn blue tb menu-button" value="View Details" ></input></td>
		  </tr>
  		</tbody>
	</table>
</fieldset>
</td></tr>
<tr><td colspan="3">
<fieldset  class="major one-col-buttons">
	<legend class="major">My Info</legend>		
	<table class="lg-btn" >
	  <tbody>
	  <tr>
			<td class="width200" ><input type="button" id="my_choices_button"  
			class="btn blue tb menu-button" value="My Choices">
			</input></td>
	  </tr>
	  <tr>
			<td class="width200" ><input type="button" id="my_info_button"  
			class="btn blue tb menu-button" value="Edit My Info"">
			</input></td>
	  </tr>
	  <tr>
			<td class="width200" ><input type="button" id="my_school_button"  
			class="btn blue tb menu-button" value="View My School"></input></td>
	  </tr>
		</tbody>
</table>
</fieldset></td>
</tr>
</tbody>
</table>
<p></p>
<!-- Select form standard hidden values used here for the select actions
-->
<div>
{{form.users_section}}
{{form.users_class_session}}
<input type="hidden" name="object_instance" value="NOTSET" id="id_object_instance" /> 
<input type="hidden" name="state" value="New" id="id_state"/>
<input type="hidden" name="requested_action" value="Save" id="id_requested_action"/>
<input type="hidden" name="next_url" id="next_url"/>
<input type="hidden" name="selection_key" value="" id="id_selection_key"/>
<input type="hidden" name="prior_selection" value="" id="id_prior_selection"/>
<!-- End select form standard hidden values -->
</div>
</form>
<fieldset class="major single-button">
<legend>Action</legend>
<table id="bottom-buttons-table" class="action-btn" >
  <tbody>
    <tr>
      <td class="buttons centered">
      	<a  href="/index" id="finish_button" name="action" 
		title='Click to return to the Main Menu.' class="btn tb action">Finished</a>
    </td>
	</tr>
  </tbody>
</table>
</fieldset>
<div id="help_pagename_div" class="hidden">MyWorkPageHelp</div>
<div id="dialog_not_advisor_attendance" title="You are not the Section's Advisor"> 
	<p>You must be the section advisor to set attendance for the section.</p></div>
<div id="dialog_not_advisor_achtest" title="You are not the Section's Advisor"> 
	<p>You must be the section advisor to edit achievement test grades. You can view the 
	Form 14 for the section if you wish to see the grades.</p></div>
<div id="dialog_not_teacher" title="You are not the Class's Teacher"> 
	<p>You must be the teacher for this class to set grades.</p></div>
{% endblock %}