{% extends 'forms_base.html' %}
{% block local_javascript_code %}
$(function(){
   $('#id_teacher_change_date').datepicker({});
 });
{% endblock local_javascript_code %}
{% block extended %}
<div id="help_pagename_div" class="hidden">SectionPageHelp</div>
<table class="fields-enclose"><tr><td>
<fieldset>
<legend>Section Information</legend>
<table class="unbordered"> 
	<tr>
		<td><label for="id_name">Name:</label></td>
		<td colspan="3"><div class="fieldWrapper">
			{{ form.name.errors }} {{ form.name }}
		</div></td>
	</tr>
	<tr>
		<td><label for="id_section_type">Section Type:</label></td>
		<td colspan="3"><div class="fieldWrapper">
			{{ form.section_type.errors }} {{ form.section_type_name }}
		</div></td>
	</tr>
	<tr>
		<td><label for="id_classroom">Classroom:</label></td>
		<td colspan="3"><div class="fieldWrapper">
			{{ form.classroom.errors }} {{ form.classroom }}
		</div></td>
	</tr>
	<tr>
		<td><label for="id_class_year">Class Year:</label></td>
		<td colspan="3"><div class="fieldWrapper">
			{{ form.class_year.errors }} {{ form.class_year }}
		</div></td>
	</tr>
<!-- teacher history -->
{{teacher_change_warning|safe}}
{{teacher_field_label|safe}}
{{form.teacher_name}}
{{form.teacher}}
{{teacher_date_label|safe}}
{{form.teacher_change_date.errors}}
{{form.teacher_change_date|safe}}
{{teacher_button|safe}}
</table>
</fieldset>
</td></tr>
</table>
{{form.section_type}}
{{form.teacher_history}}
{% endblock extended %}
