{% extends 'base.html' %}
{% block script %}
{{ block.super }}
<script type='text/javascript' src='/js/select.js'></script>
{% endblock script %}
{% block local_javascript_code %}
selectionTable.tableParameters = {
	'width': 800,
	'sortColumn': 0,
	'showRowNumber':true
};
var requestedAction = "Select";
{% endblock local_javascript_code %}
{% block content %}
<form id="form2" action="{{submit_action}}" method="post" >
<div id="title_div" class="form-title centered-object"></div>
<div id="initial_div">
<fieldset class="major three-buttons centered-object">
	<legend class="major">Action</legend>
<table>
	<tbody>
    <tr>
      <td class="buttons" ><input value="New"  name="action" id="select_new_button" 
	  	class="btn tb action"></input></td>
	  <td class="buttons" ><input value="Edit" name="action" id="select_edit_button" 
	  	class="btn tb action"></input></td>
	  <td class="buttons" ><input value="View" name="action" id="select_view_button" 
	  	class="btn tb action"></input></td>
    </tr>
	</tbody>
</table>
</fieldset>
<br/>
{% include 'bottom_buttons.html' %}
<fieldset class="major one-col-buttons" >
<legend class="major">Cancel</legend>
<table class="action-btn"  width="100%">
  <tbody>
    <tr>
      <td class="buttons" >
      	<a name="return_button" class="btn green tb" href="../index.html">Return Home</a>
      </td>
    </tr>
  </tbody>
</table>
</fieldset>
</div>
<div id="select_div" class="hidden">
<fieldset class="std-block">
	<legend>Start Selection</legend>
		<div id="generated_input_fields_div"></div>
</fieldset>
<fieldset class="std-block" id="id_table_fieldset">
	<legend>Selection List</legend>
	<div id="table_div" class="blockFrame"></div>
</fieldset>
<fieldset class="major one-col-buttons" >
<legend class="major">Action</legend>
<table class="action-btn" >
  <tbody>
    <tr>
      <td class="buttons" ><input value="Cancel" id="select_cancel_button" 
	  	name="action" class="btn tb action"></input></td>
	  <td class="buttons" ><input value="Select" id="select_select_button" type="submit"
	  	name="action" class="btn tb action"></input></td>
    </tr>
  </tbody>
</table>
</fieldset>
</div>
<!-- Select form standard hidden values 
-->
<input type="hidden" name="object_instance" value="NOTSET" id="id_object_instance" /> 
<input type="hidden" name="state" value="New" id="id_state" type="text"/>
<input type="hidden" name="requested_action" value="Create" id="id_requested_action" type="text"/>
<input type="hidden" name="selection_key" value="" id="id_selection_key" type="text"/>
<input type="hidden" name="prior_selection" value="" id="id_prior_selection" type="text"/>
<!-- End select form standard hidden values -->

</form>
<div class="hidden" id="dialog_no_table" title="No Table For Selection">Please open the list of <span id="no_table_fill"></span> 
	and then select from the list.</div>
<div class="hidden" id="dialog_no_selection" title="Nothing Selected">Please select a <span id="no_selection_fill"></span> from the list.</div>
<div class="hidden" id="dialog_multiple_selection" title="Too Many Selected">Please select only one <span id="multiple_selection_fill"></span>.</div>


{% endblock content%}
