{% extends 'person.html' %}
{% block script %}
{{ block.super }}
<script type='text/javascript' src='/js/tables.js'></script>
{% endblock script %}
{% block local_javascript_code %}
{% endblock local_javascript_code %}
{% block personal %}
<tr><td><label title="The students date of birth. This is important for several key reports.">Date of Birth:</label></td><td><div class="fieldWrapper">
			{{form.birthdate.errors}}{{form.birthdate}}</div></td></tr>

<tr><td colspan="2">
<fieldset id="sibling_select_display" class="highlight_different hidden"><legend>Possible Brothers and Sisters</legend>
<table>
<tbody>
<tr><td class="width450">
<div id="id_sibling_select" class="blockFrame" title="The list of other students with the same family name. One or more of these may be a brother or sister and have the same parents."></div>
</td><td class="top_align">
<table id="sibling_select_buttons" class="right_side_buttons">
        <tr>
        <td><input type="button" id="check_sibling_select_btn" value="Check Family" class="btn tb inside"
			title='Select a student from the list then click to view the brothers, sisters, and parents or guardians. This may help you to choose. Clicking this does not actually set any values in the form. If you wish to keep your selection click "Keep Family".' /></td>
        </tr>
        <tr>
        <td><input type="button" id="keep_sibling_select_btn" value="Keep Family" class="btn tb inside"
			title='Choose a student from the list and then keep the results. You will normally use "Check family" to be sure that you have selected the correct one and then click this button to set the changes in the page.'/></td>
        </tr>
        <tr>
        <td><input type="button" id="cancel_sibling_select_btn" value="Cancel Search" class="btn tb inside"
			title='Do not make any changes, just close the "Possible Brothers or Sisters" section.'/></td>
        </tr>
</table>
</td></tr>
</tbody>
</table>
</fieldset>
</td>
</tr>
<tr><td colspan="2">
<fieldset><legend>Brothers or Sisters</legend>
<table>
<tbody>
<tr><td width="450px" >
<div id="id_siblings"  class="blockFrame" 
	title="The list of brothers and sisters. If none are listed then the student is the only one in the family."></div>
</td><td class="top_align">
<table id="sibling_buttons" class="right_side_buttons">
        <tr>
        <td><input type="button" title="Search for students with the same last name that might be in the same family." 
		id="add_siblings_btn" value="Search for Brothers or Sisters" class="btn tb inside"/></td>
        </tr>
        <tr>
        <td><input type="button" id="reset_siblings_btn" value="Reset Brothers and Sisters" class="btn tb inside" title="Click this to reset the choice of brothers and sisters to what it was before."/></td>
        </tr>
</table>
</td></tr>
</tbody></table>
</fieldset>
</td></tr>
<tr><td colspan="2">
<fieldset><legend>Parents or Guardians</legend>
<table>
<tbody>
<tr><td width="450px">
<div id="id_parents" class="blockFrame" title="The list of the parents or guardians. At least one should be entered. If the student has brothers or sisters this list is the same for all. A change here will also change the list for all brothers and sisters."></div>
</td><td class="top_align">
<table id="parent_buttons" class="right_side_buttons">
        <tr>
        <td><input type="button" id="new_parent_btn" value="New Parent or Guardian" class="btn tb inside"
			title="Click this to create the a parent or guadian. If this is the first parent you will first be asked if you would like to search for brothers or sisters that may be in the same family."/></td>
        </tr>
        <tr>
        <td><input type="button" id="edit_parent_btn" value="Edit Parent or Guardian" class="btn tb inside " 
			title="Choose one of the Parents or Guardians from the list. Then click this button to open a page to edit the record you chose. "/></td>
        </tr>
        <tr>
        <td><input type="button" id="delete_parent_btn" value="Remove Parent or Guardian" class="btn tb inside"
			title="Choose one of the Parents or Guardians from the list. Then click this button to remove that person from the student's record."/></td>
        </tr>
</table>
</td></tr>
</tbody></table>
</fieldset></td></tr>
{% endblock personal %}

{% block extended %}
{{ block.super }}
<fieldset class="std-block">
<legend>Student Information</legend>
<table class="unbordered">
<tr><td><label for="id_student_id" id="_id_student_id_label">Student ID:</label></td>
<td>{{form.student_id}}</td></tr>	
<!-- student_status history -->
{{student_status_change_warning|safe}}
{{student_status_field_label|safe}}
{{form.student_status_name}}
{{form.student_status}}
{{student_status_date_label|safe}}
{{form.student_status_change_date.errors}}
{{form.student_status_change_date|safe}}
{{student_status_button|safe}}
<!-- class_year history -->
{{class_year_change_warning|safe}}
{{class_year_field_label|safe}}
{{form.class_year}}
{{class_year_date_label|safe}}
{{form.class_year_change_date.errors}}
{{form.class_year_change_date|safe}}
{{class_year_button|safe}}
<!-- section history -->
{{section_change_warning|safe}}
{{section_field_label|safe}}
{{form.section_name}}
{{form.section}}
{{section_date_label|safe}}
{{form.section_change_date.errors}}
{{form.section_change_date|safe}}
{{section_button|safe}}
<!-- student major history -->
{{student_major_change_warning|safe}}
{{student_major_field_label|safe}}
{{form.student_major_name}}
{{form.student_major}}
{{student_major_date_label|safe}}
{{form.student_major_change_date.errors}}
{{form.student_major_change_date|safe}}
{{student_major_button|safe}}
<!-- ranking history -->
{{ranking_change_warning|safe}}
{{ranking_field_label|safe}}
{{form.ranking}}
{{ranking_date_label|safe}}
{{form.ranking_change_date.errors}}
{{form.ranking_change_date|safe}}
{{ranking_button|safe}}
<!-- special status history -->
{{special_designation_change_warning|safe}}
{{special_designation_field_label|safe}}
{{form.special_designation_name}}
{{form.special_designation}}
{{special_designation_date_label|safe}}
{{form.special_designation_change_date.errors}}
{{form.special_designation_change_date|safe}}
{{special_designation_button|safe}}
<tr><td><label title="Information about the student&#x27s birth and elementary schooling. This information is required.">Childhood History:</label></td>
			<td colspan="4"><input type="button" id="childhood_btn" 
			value="Show Childhood History"
			class="btn inside same-in-view print-hidden" 
			title="Click to expand this page to edit or view the student&#x27s birth and elementary school information."/></td></tr>
<tr> <td colspan="5">
<fieldset class="std-block hidden" id="childhood_history">
<legend>Childhood History</legend>
<table class="unbordered">
	<tr><td>{{form.birth_province_name.label}}</td><td>{{form.birth_province_name}}</td></tr>    
	<tr><td>{{form.birth_other_country.label}}</td><td>{{form.birth_other_country}}</td></tr>    
	<tr><td>{{form.birth_municipality_name.label}}</td><td>{{form.birth_municipality_name}}</td></tr>
	<tr><td>{{form.birth_municipality_other.label}}</td><td>{{form.birth_municipality_other}}</td></tr>
	<tr><td>{{form.birth_community_name.label}}</td><td>{{form.birth_community_name}}</td></tr>
	<tr><td>{{form.birth_community_other.label}}</td><td>{{form.birth_community_other}}</td></tr>	
	<tr><td>{{form.elementary_school.label}}</td><td>{{form.elementary_school}}</td></tr>
	<tr><td>{{form.elementary_gpa.label}}</td><td>{{form.elementary_gpa}}</td></tr>
	<tr><td>{{form.elementary_graduation_date.label}}</td><td>{{form.elementary_graduation_date}}</td></tr>
	<tr><td>{{form.years_in_elementary.label}}</td><td>{{form.years_in_elementary}}</td></tr>
</table>
</fieldset>
</td></tr>
<tr><td><label title="Information about a student&#x27s transfer into or out of the school. This will have no values set unless the student has transfered in from another high school or has transferred out.">School Transfer:</label></td>
			<td colspan="4"><input type="button" id="transfer_btn" 
			value="Show School Transfer" title="Click to expand this page to edit or view information about a student's transfer into or out of the school."
			class="btn inside same-in-view print-hidden" /></td></tr>
<tr> <td colspan="5">
<fieldset class="std-block hidden" id="transfer">
<legend>School Transfer:</legend>
<table class="unbordered">
	<tr><td>{{form.transfer_school_name.label}}</td><td>{{form.transfer_school_name}}</td></tr>    
	<tr><td>{{form.transfer_direction.label}}</td><td>{{form.transfer_direction}}</td></tr>    
	<tr><td>{{form.transfer_date.label}}</td><td>{{form.transfer_date}}</td></tr>    
	<tr><td>{{form.transfer_other_info.label}}</td><td>{{form.transfer_other_info}}</td></tr>
</table>
</fieldset>
</td></tr>

</table>
</fieldset>
{{form.siblings_initial_val}}
{{form.parents_initial_val}}
{{form.family}}
{{form.birth_province}}
{{form.birth_municipality}}
{{form.birth_community}}
{{form.student_status_history}}
{{form.class_year_history}}
{{form.section_history}}
{{form.student_major_history}}
{{form.ranking_history}}
{{form.special_designation_history}}
{{form.transfer_history}}
<div id="dialog_duplicate_warning" title="Student Already in Database" class="hidden">
	<h2>Warning!</h2><p>This student may already be in the database.</p>
	<p>The student's information is:</p>
	<div id="duplicate_student_name"></div>
	<div id="duplicate_municipality"></div>
	<div id="duplicate_community"></div>
	<div id="duplicate_birthdate"></div>
	<p>If this is the same student please do not save. Click the "Cancel" button at the bottom of the entry page.</p>
</div>		
<div id="dialog_no_lastname" title="No Last Name" class="hidden">Please enter the students name before looking for brothers or sisters</div>
<div id="dialog_siblings_check" title="Possible Brothers or Sisters" class="hidden">There may some students with the same family name. If one is a brother or sister you will want to add him so that all family information is correct. <hr/>Do you want to check to see if there is any brother or sister?</div>
<div id="dialog_select_sibling" title="No Brother or Sister Selected"  class="hidden">Please select a student to check.</div>
<div id="dialog_select_edit" title="No Parent Selected"  class="hidden">Please select a parent or guardian.</div>
<div id="dialog_multi_select" title="No Parent Selected"  class="hidden">Please select only one parent or guardian.</div>
<div id="dialog_confirm_parent_delete" title="Confirm Delete" class="hidden">Do you want to delete<br/>
<span class="dialog_info"> </span> <hr/>This will remove her from all of the students in the family and permanently erase all information about her.</div>
{% endblock extended %}
{% block final %}
<script type="text/javascript" src="/js/student_form.js"></script>
<div id="help_pagename_div" class="hidden">StudentPageHelp</div>
{% endblock final %}
